<DOCTYPE!html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
</head>

<body bgcolor = "a919d1" background="sky.jpg">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Home.html">Home</a>
        <a href="RoomSchedule.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
    <a href="sChildren.html">Schedule Classrooms</a>
    <a href="sEmployee.html">Schedule Employees</a>
    <a href="Waiting_list.html">Waiting List</a>

  </div>
</div></h5>

<h1>Add an employee.</h1>
<table style="width: 75%; height: 10%" bgcolor=7070ff>
<tr>
    <td>First Name: <input type= "text" id="FirstName" value="Search Here"></td>
    <td>Last Name: <input type= "text" id="LastName" value="Search Here"></td>
</tr>
<tr>
    <td>DOB: <input type= "text" id="DateOfBirth" value="Search Here"></td>
    <td>email: <input type= "text" id="EmailAddress" value="Search Here"></td>
</tr>
<tr>
    <td>Phone # (primary): <input type= "text" id="PhoneNumber" value="Search Here"></td>
    <td>Phone # (secondary): <input type= "text" id="PhoneNumber2" value="Search Here"></td>
</tr>
<tr>
    <td>Monday In 1: <input type= "text" id="myText" value="Search Here"></td>
    <td>Monday Out 1: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Monday In 2: <input type= "text" id="myText" value="Search Here"></td> 
    <td>Monday Out 2: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Monday In 3: <input type= "text" id="myText" value="Search Here"></td>
    <td>Monday out 3: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Tuesday In 1: <input type= "text" id="myText" value="Search Here"></td>
    <td>Tuesday out 1: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Tuesday In 2: <input type= "text" id="myText" value="Search Here"></td>
    <td>Tuesday Out 2: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Tuesday In 3: <input type= "text" id="myText" value="Search Here"></td>
    <td>Tuesday Out 3: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Wednesday In 1: <input type= "text" id="myText" value="Search Here"></td>
    <td>Wednesday Out 1: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Wednesday In 2: <input type= "text" id="myText" value="Search Here"></td>
    <td>Wednesday Out 2: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Wednesday In 3: <input type= "text" id="myText" value="Search Here"></td>
    <td>Wednesday Out 3: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Thursday In 1: <input type= "text" id="myText" value="Search Here"></td>
    <td>Thursday Out 1: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Thursday In 2: <input type= "text" id="myText" value="Search Here"></td>
    <td>Thursday Out 2: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Thursday In 3: <input type= "text" id="myText" value="Search Here"></td>
    <td>Thursday Out 3: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Friday In 1: <input type= "text" id="myText" value="Search Here"></td>
    <td>Friday Out 1: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Friday In 2: <input type= "text" id="myText" value="Search Here"></td>
    <td>Friday Out 2: <input type= "text" id="myText" value="Search Here"></td>
</tr><tr>
    <td>Friday In 3: <input type= "text" id="myText" value="Search Here"></td>
    <td>Friday Out 3: <input type= "text" id="myText" value="Search Here"></td>
</tr>
</table>


</html>