<DOCTYPE! html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
</head>

<body bgcolor="ffff35">
<center><h1>Search for an enrolled child</h1></center>
<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
        <a href="sChildren.html">Schedule Classrooms</a>
        <a href="sEmployee.html">Schedule Employees</a>
        <a href="Waiting_list.html">Waiting List</a>

  </div>
</div></h5>

What to search for: <input type="text" id="myText" value="Search Here">

<button onclick="myFunction()">Check it</button>

<p id="demo"></p>
<script src="..\Sheets_API_Quickstart\updateDB.js"></script>
<script type="text/javascript">
<!--
//var updateDB = require('../Sheets_API_Quickstart/updateDB.js');
var argus = ["", "", "Smith", "Jane", "1/24"];
function myFunction() {
   var x = document.getElementById("myText").value;
 //  updateDB.inputFormToDB.apply(this argus);
   document.getElementById("myText").value = argus[2];
}

</script>

</body>
<html>
