<DOCTYPE! html>
<html>
<head>
<title>Staff List</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/EmployeeListController.js"></script>


<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
<link rel="stylesheet" type="text/css" href="./Other Files/(CSS Stuff) font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body background="sky.jpg" ng-app="DaycareApp" ng-controller="EmployeeListController" ng-init="LoadEmployeeList()">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Home.html">Home</a>
        <a href="RoomScheduleDev.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
    <a href="sChildren.html">Schedule Classrooms</a>
    <a href="sEmployee.html">Schedule Employees</a>
    <a href="Waiting_list.html">Waiting List</a>
  </div>
</div></h5>


<h1>Employee List</h1>

<div>
    <label>Search: <input placeholder="What are you looking for?" ng-model="searchText"></label>
</div>

<FORM METHOD="LINK" ACTION="addEmployee.html">
<INPUT TYPE="submit" VALUE="Add Employee">
</FORM>

<div id="display"></div>

<table class = "Classroomtable" style="height: 85%">
	<!--<th>Child's Name</th>
	<th>D.O.B.</th>
	<th>Phone Number</th>
	<th>Primany Parent Name</th>
	<th>Primanry Parent Status</th>
	<th>Secondary Parent Name</th>
	<th>Secondary Parent Status</th>
	<th>Date of App.</th>
	<th>Desired Start Date</th>
	<th>Class</th>
	<th>Days</th>
	<th>View Profile</th>
	<th>Delete</th>-->

	<th>Name</th>
	<th>Phone Number</th>
	<th>Phone Number 2</th>
	<th>Email Address</th>
	<th>More Info</th>

<tr ng-if="Employees.length !== 0">
    <th>{{Employees[0].FirstName}} {{Employees[0].LastName}}</th>
    <th>{{Employees[0].PhoneNumber}}</th>
    <th>{{Employees[0].PhoneNumber2}}</th>  
    <th>{{Employees[0].EmailAddress}}</th> 
    <th style="background: #dae5f4">{{Employees[0].MoreInfo}}</th>
</tr>
<tr ng-if="Employees.length === 0">
    <th></th>
    <th></th>
    <th></th>  
    <th></th> 
    <th style="background: #dae5f4"></th>
</tr>
</table>

</body>
</html>


