<DOCTYPE! html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
</head>

<body bgcolor = "a919d1">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Home.html">Home</a>
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
        <a href="sChildren.html">Schedule Classrooms</a>
        <a href="sEmployee.html">Schedule Employees</a>
        <a href="Waiting_list.html">Waiting List</a>

  </div>
</div></h5>

<h1>Search for an employee.</h1>

Who to search for: <input type= "text" id="myText" value="Search Here">

