<DOCTYPE! html>
<html>
<head>
<title>Staff List</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script> <script src="./angular/angular-1.5.8/angular-1.5.8/angular-sanitize.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/EmployeeListController.js"></script>


<link rel="stylesheet" type="text/css" href="./Other Files/(CSS Stuff) font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.css">
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/app.css">
</head>

<body background="sky.jpg" ng-app="DaycareApp" ng-controller="EmployeeListController" ng-init="LoadEmployeeList()">

<!--<body bgcolor = "a919d1" background="sky.jpg" class = "backgroundPic">-->



    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Main Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><img src="./Images/Stock/PotsdamLogoSmall.jpg" class="Logo"><h2>Employee List</h2></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
	      <a>Main Menu</a>
        <ul class="submenu menu vertical" data-submenu>
		<li><a href="Home.html">Home</a>
		<li><a href="Waiting_list.html">Waiting List</a></li>
          <li><a href="RoomScheduleDev.html">Classrooms</a></li>
          <li><a href="Children.html">Enrolled List</a></li>
		  <li><a href="Employees.html">Employee List</a></li>
		  <li><a href="EmployeeSchedWTabs.html">Employee Scheduler</a></li>
	</ul>
      </li>
    </ul>
  </div>
</div>

<br>

<div>
    <label>Search: <input placeholder="What are you looking for?" ng-model="searchText"></label>
</div>
<!--<button type="button" onclick="goTo()">Add Employee</button> -->
<div id="display"></div>


<FORM METHOD="LINK" ACTION="addEmployee.html" style="margin-left: 10px; margin-top: 10px">
<INPUT TYPE="submit" class="scuess button" VALUE="Add Employee">
</FORM>

<div id="display"></div>
<br>

<table class = "TFtable" style="height: 85%; width: 100%; table-layout: fixed">
	<th>Employee's Name</th>
	<th>Phone Number</th>
	<th>Phone Number 2</th>
	<th>Email Address</th>
	<th>More Info</th>
    <th>View Profile</th>

<tr ng-if="Employees.length !== 0" ng-repeat="employee in Employees">
    <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
    <th>{{employee.PhoneNumber}}</th>
    <th>{{employee.PhoneNumber2}}</th>  
    <th>{{employee.EmailAddress}}</th> 
    <th style="word-wrap: break-word;">{{employee.MoreInfo}}</th>
    <th><button type="button" ng-click="storeProfile(employee)" class="button">Profile</button></th>
</tr>
<tr ng-if="Employees.length === 0">
    <th></th>
    <th></th>
    <th></th>  
    <th></th> 
    <th style="background: #dae5f4"></th>
</tr>
</table>

<p id="accepted"></p>

<script>
function goTo() {
	window.location.href = 'addEmployee.html';
}
</script>

    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/jquery.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/what-input.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/foundation.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/app.js"></script>

</body>
</html>


