<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Scheduler</title>
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.css">
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.min.css">
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.calendar.css">
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/app.css">
	<!--<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/modal_employee.css">-->
	
	<script type="text/javascript"></script>
	<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script> <script src="./angular/angular-1.5.8/angular-1.5.8/angular-sanitize.js"></script>
	<script src="./app.js"></script>
  <script src="./Source/Client/Controllers/EmployeeSchedController.js"></script>
  
  </head>
<body ng-app="DaycareApp" ng-controller="EmployeeSchedController" ng-init="LoadEmployeeList()">

<div class="top-bar" id="main-menu">
	<div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	<li class="menu-text"><img src="./Images/Stock/PotsdamLogoSmall.jpg" class="Logo"><h2>SUNY Potsdam Child Care Center, Inc. Home</h2></li>
	</div>
	</ul>
	<div class="top-bar-right">
		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		 <li class="has-submenu">
		 <a>Menu</a>
		<ul class="submenu menu vertical" data-submenu>
		<li><a href="Home.html">Home</a>
		 <li><a href="Waiting_list.html">Waiting List</a></li>
		<li><a href="RoomScheduleDev.html">Classrooms</a></li>
		<li><a href="Children.html">Enrolled List</a></li>
		<li><a href="Employees.html">Employee List</a></li>
		</ul>
	 </li>
	</ul>
	</div>
 </div>

<div class="row collapse">
  <div class="medium-2 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      Available
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Monday</a></li>
      <li class="tabs-title"><a href="#panel2v">Tuesday</a></li>
      <li class="tabs-title"><a href="#panel3v">Wednesday</a></li>
      <li class="tabs-title"><a href="#panel4v">Thursday</a></li>
      <li class="tabs-title"><a href="#panel5v">Friday</a></li>
      Schedule
      <li class="tabs-title"><a href="#panel6v" id="monday"></a></li>
      <li class="tabs-title"><a href="#panel7v" id="tuesday"></a></li>
      <li class="tabs-title"><a href="#panel8v" id="wednesday"></a></li>
      <li class="tabs-title"><a href="#panel9v" id="thursday"></a></li>
      <li class="tabs-title"><a href="#panel10v" id="friday"></a></li>
    </ul>
    </div>
    <div class="medium-10 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <p>
          <table class = "TFtable" style="height: 85%; width: 100%">
	          <th>Employee's Name</th>
	          <th>Available 1</th>
	          <th>Available 2</th>
	          <th>Available 3</th>
            <th>Profile</th>

            <tr ng-repeat="employee in Employees">
               <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
                <th>{{employee.MondayInUF}} - {{employee.MondayOutUF}}</th>
                <th>{{employee.MondayIn2UF}} - {{employee.MondayOut2UF}}</th>  
                <th>{{employee.MondayIn3UF}} - {{employee.MondayOut3UF}}</th> 
                <th><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th></th>  
              <th></th> 
              <th style="background: #dae5f4"></th>
            </tr>
          </table>
        </p>
      </div>
      <div class="tabs-panel" id="panel2v">
        <p><table class = "TFtable" style="height: 85%; width: 100%">
	          <th>Employee's Name</th>
	          <th>Available 1</th>
	          <th>Available 2</th>
	          <th>Available 3</th>
            <th>Profile</th>

            <tr ng-repeat="employee in Employees">
               <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
                <th>{{employee.TuesdayInUF}} - {{employee.TuesdayOutUF}}</th>
                <th>{{employee.TuesdayIn2UF}} - {{employee.TuesdayOut2UF}}</th>  
                <th>{{employee.TuesdayIn3UF}} - {{employee.TuesdayOut3UF}}</th> 
                <th><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th></th>  
              <th></th> 
              <th style="background: #dae5f4"></th>
            </tr>
          </table></p>
      </div>
      <div class="tabs-panel" id="panel3v">
        <p><table class = "TFtable" style="height: 85%; width: 100%">
	          <th>Employee's Name</th>
	          <th>Available 1</th>
	          <th>Available 2</th>
	          <th>Available 3</th>
            <th>Profile</th>

            <tr ng-repeat="employee in Employees">
               <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
                <th>{{employee.WednesdayInUF}} - {{employee.WednesdayOutUF}}</th>
                <th>{{employee.WednesdayIn2UF}} - {{employee.WednesdayOut2UF}}</th>  
                <th>{{employee.WednesdayIn3UF}} - {{employee.WednesdayOut3UF}}</th> 
                <th><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th style="background: #dae5f4"></th>
            </tr>
          </table>
        </p>
      </div>
      <div class="tabs-panel" id="panel4v">
        <p><table class = "TFtable" style="height: 85%; width: 100%">
	          <th>Employee's Name</th>
	          <th>Available 1</th>
	          <th>Available 2</th>
	          <th>Available 3</th>
            <th>Profile</th>

            <tr ng-repeat="employee in Employees">
               <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
                <th>{{employee.ThursdayInUF}} - {{employee.ThursdayOutUF}}</th>
                <th>{{employee.ThursdayIn2UF}} - {{employee.ThursdayOut2UF}}</th>  
                <th>{{employee.ThursdayIn3UF}} - {{employee.ThursdayOut3UF}}</th>
                <th><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th></th>  
              <th></th> 
              <th style="background: #dae5f4"></th>
            </tr>
          </table></p>
      </div>
      <div class="tabs-panel" id="panel5v">
        <p><table class = "TFtable" style="height: 85%; width: 100%">
	          <th>Employee's Name</th>
	          <th>Available 1</th>
	          <th>Available 2</th>
	          <th>Available 3</th>
            <th>Profile</th>

            <tr ng-repeat="employee in Employees">
               <th ng-click="storeProfile(employee)" style="cursor: hand;">{{employee.FirstName}} {{employee.LastName}}</th>
                <th>{{employee.FridayInUF}} - {{employee.FridayOutUF}}</th>
                <th>{{employee.FridayIn2UF}} - {{employee.FridayOut2UF}}</th>  
                <th>{{employee.FridayIn3UF}} - {{employee.FridayOut3UF}}</th>
                <th><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th></th>  
              <th></th> 
              <th style="background: #dae5f4"></th>
            </tr>
          </table></p>
      </div>
      <div class="tabs-panel" id="panel6v">
        <p>
          <table class = "TFtable" style="height: 85%; width: 100%" ng-init="LoadEmployeeSchedule()">
	          <th>Employee's Name</th>
	          <th>Scheduled</th>
            <th>Date</th>
            <th>Profile</th>
            <tr ng-repeat="employee in EmployeeSched">
               <th ng-click="storeProfile(employee)" style="cursor: hand;" ng-if="Mon == employee.Date" >
                 {{employee.Staff_Name}}</th>
                <th ng-if="Mon == employee.Date">{{employee.TimeStart}} - {{employee.TimeEnd}}</th>
                <th>{{employee.Date}}</th>
                <th ng-if="Mon == employee.Date"><button type="button" ng-click="storeProfile(employee)" class="sucess button">Profile</button></th>
            </tr>
            <tr ng-if="Employees.length === 0">
              <th></th>
              <th></th>
              <th style="background: #dae5f4"></th>
            </tr>
          </table>
        </p>
      </div>
      <div class="tabs-panel" id="panel7v">
        Scheduler
      </div>
      <div class="tabs-panel" id="panel8v">
        Scheduler
      </div>
      <div class="tabs-panel" id="panel9v">
        Scheduler
      </div>
      <div class="tabs-panel" id="panel10v">
        Scheduler
      </div>
    </div>
  </div>
</div>


 <script src="./Other Files/foundation-6.3.0-complete/js/vendor/jquery.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/what-input.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/foundation.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="./Source/Client/Controllers/calendarController.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/app.js"></script>
    <script>
    $(document).foundation();
  </script>

</body>
</html>
