<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Profile</title>
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.css">
    <link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/app.css">
	<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/modal_employee.css">
	
	<script type="text/javascript"></script>
	<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
	<script src="./app.js"></script>
	<script src="./Source/Client/Controllers/EnrolledProfileController.js"></script>
  </head>


<body ng-app="DaycareApp" ng-controller="EnrolledProfileController" ng-init="LoadTempProfile()">

	<!-- Title Bar -->

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><img src="./Images/Stock/PotsdamLogoSmall.jpg" class="Logo"><h2>Employee Profile: {{Profile[0].StaffID}}</h2></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
        <a href="Home.html">Home</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="Waiting_list.html">Waiting List</a></li>
          <li><a href="RoomScheduleDev.html">Classrooms</a></li>
          <li><a href="Children.html">Enrolled List</a></li>
		  <li><a href="Employees.html">Employee List</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<br>

	<!-- End Title Bar -->

	<!-- Start Primary Info Section -->

<div ng-if="!Editing" class="card" style="width: 800px; height: 700px;">
	<div class="media-object">
		<div class="media-object-section">
			<div class="thumbnail">
				<img src="./Images/Stock/Stock-1.png">  <!-- Will need to add photo column to personal_info and fix this -->
			</div>
		</div>
		<div class="media-object-section">
			<h4>
				<span ng-if="!Editing">{{Profile[0].ChildName}}</span>
				<span ng-if="Editing"><input type="text" id="ChildName" value="{{Profile[0].ChildName}}"></input></span>
			</h4>
			<table>
			  <thead>
				<tr>
				  <th width="200">General Information</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>Home Phone</td>
				  <td>
				    <span ng-if="!Editing">{{Profile[0].HomePhone}} </span>
					<span ng-if="Editing"><input type="text" id="HomePhone" value="{{Profile[0].HomePhone}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Home Address</td>
				  <td>
					<span ng-if="!Editing">{{Profile[0].ChildHomeAddress}} </span>
					<span ng-if="Editing"><input type="text" id="ChildHomeAddress" value="{{Profile[0].ChildHomeAddress}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Date of Birth</td>
				  <td>
				    <span ng-if="!Editing">{{Profile[0].ChildBirthdate}}</span>
					<span ng-if="Editing"><input type="text" id="ChildBirthdate" value="{{Profile[0].ChildBirthdate}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Age Group</td>
				  <td>
					<span ng-if="!Editing">{{Profile[0].AgeGroup}}</span>
					<span ng-if="Editing"><input type="text" id="AgeGroup" value="{{Profile[0].AgeGroup}}"></input></span>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="card" style="width: 760px; height: 330px; border: 1px solid #e60000">
		<center>
		<h5>Emergency Information:</h5>
		</center>
		<h5>Gaurdian 1:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].GuardianName1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianName1" value="{{Profile[0].GuardianName1}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianPhone1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianPhone1" value="{{Profile[0].GuardianPhone1}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianEmail1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianEmail1" value="{{Profile[0].GuardianEmail1}}"></input></span>
		</p>
		<h5>Gaurdian 2:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].GuardianName2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianName2" value="{{Profile[0].GuardianName2}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianPhone2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianPhone2" value="{{Profile[0].GuardianPhone2}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianEmail2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianEmail2" value="{{Profile[0].GuardianEmail2}}"></input></span>
		</p>
		<h5>Home:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].HomePhone}} </span>
			<span ng-if="Editing">{{Profile[0].HomePhone}} </span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].ChildHomeAddress}} </span>
			<span ng-if="Editing">{{Profile[0].ChildHomeAddress}} </span>
		</p>
	</div>
</div

<div ng-if="Editing" class="card" style="width: 800px; height: 1400px;">
	<div class="media-object">
		<div class="media-object-section">
			<div class="thumbnail">
				<img src="./Images/Stock/Stock-1.png">  <!-- Will need to add photo column to personal_info and fix this -->
			</div>
		</div>
		<div class="media-object-section">
			<h4>
				<span ng-if="!Editing">{{Profile[0].ChildName}}</span>
				<span ng-if="Editing"><input type="text" id="ChildName" value="{{Profile[0].ChildName}}"></input></span>
			</h4>
			<table>
			  <thead>
				<tr>
				  <th width="200">General Information</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>Home Phone</td>
				  <td>
				    <span ng-if="!Editing">{{Profile[0].HomePhone}} </span>
					<span ng-if="Editing"><input type="text" id="HomePhone" value="{{Profile[0].HomePhone}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Home Address</td>
				  <td>
					<span ng-if="!Editing">{{Profile[0].ChildHomeAddress}} </span>
					<span ng-if="Editing"><input type="text" id="ChildHomeAddress" value="{{Profile[0].ChildHomeAddress}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Date of Birth</td>
				  <td>
				    <span ng-if="!Editing">{{Profile[0].ChildBirthdate}}</span>
					<span ng-if="Editing"><input type="text" id="ChildBirthdate" value="{{Profile[0].ChildBirthdate}}"></input></span>
				  </td>
				</tr>
				<tr>
				  <td>Age Group</td>
				  <td>
					<span ng-if="!Editing">{{Profile[0].AgeGroup}}</span>
					<span ng-if="Editing"><input type="text" id="AgeGroup" value="{{Profile[0].AgeGroup}}"></input></span>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="card" style="width: 760px; height: 330px; border: 1px solid #e60000">
		<center>
		<h5>Emergency Information:</h5>
		</center>
		<h5>Gaurdian 1:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].GuardianName1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianName1" value="{{Profile[0].GuardianName1}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianPhone1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianPhone1" value="{{Profile[0].GuardianPhone1}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianEmail1}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianEmail1" value="{{Profile[0].GuardianEmail1}}"></input></span>
		</p>
		<h5>Gaurdian 2:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].GuardianName2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianName2" value="{{Profile[0].GuardianName2}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianPhone2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianPhone2" value="{{Profile[0].GuardianPhone2}}"></input></span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].GuardianEmail2}}</span>
			<span ng-if="Editing"><input type="text" id="GuardianEmail2" value="{{Profile[0].GuardianEmail2}}"></input></span>
		</p>
		<h5>Home:</h5>
		<p>
			<span ng-if="!Editing">{{Profile[0].HomePhone}} </span>
			<span ng-if="Editing">{{Profile[0].HomePhone}} </span>
			&nbsp;&nbsp;
			<span ng-if="!Editing">{{Profile[0].ChildHomeAddress}} </span>
			<span ng-if="Editing">{{Profile[0].ChildHomeAddress}} </span>
		</p>
	</div>
</div>

	<!-- Start Editing Options -->
	
<div ng-if="!Editing" style="text-align: center;">
    <button type="button" ng-click="EditProfile()" class="button">Edit Profile</button>
    <button type="button" ng-click="OpenModal()" class="button">Add to Classroom</button>
</div>

<div ng-if="Editing" style="text-align: center;">
        <button type="button" ng-click="SaveChanges()" class="button">Save Changes</button>
        <button type="button" ng-click="EditProfile()" class="button">Cancel</button>
</div>
	
	<!-- End Editing Options -->
	
	<!-- End Primary Info Section -->


	<script src="./Other Files/foundation-6.3.0-complete/js/vendor/jquery.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/what-input.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/vendor/foundation.js"></script>
    <script src="./Other Files/foundation-6.3.0-complete/js/app.js"></script>

	</body>
</html>