<DOCTYPE! html>
<html>

<head>


<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">

</head>


<body background="sky.jpg">

<h5>
	<div class="dropdown" style="float:right;">
	<button class="dropbtn">||||</button>
		<div class="dropdown-content">
			    <a href="RoomSchedule.html">Rooms</a>
			<a href="Employees.html">Employees</a>
			<a href="Children.html">Children</a>
			<a href="sChildren.html">Schedule Classrooms</a>
			<a href="sEmployee.html">Schedule Employees</a>
			<a href="Waiting_list.html">Waiting List</a>
		</div>
	</div>
</h5>

<table style="width: 100%; height: 10%" bgcolor="white">
<tr><td align="center"><h1><font color="maroon">
SUNY Potsdam Daycare Scheduling
</font></h1></td></tr></table>


<h1><table border="25" style="width: 100%; height: 85%" bgcolor="turquoise">
	<tr style="height: 50%">
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="day()">
			<h1>Waiting List</h1></button>
		</td>
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="childInfo()">
			<h1>Enrollment Database</h1></button>
		</td>
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="childSched()">
			<h1>Classroom Schedules</h1></button>
		</td>
	</tr>
	<tr style="height: 50%">
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="employeeSched()">
			<h1>Employee Scheduler</h1></button>
		</td>
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="employees()">
			<h1>Employee Search</h1></button>
		</td>
		<td align="center">
			<button style="height:200px;width:200px;background-color:3399f0" onclick="rooms()">
			<h1>Room Search</h1></button>
		</td>
	</tr>
</table>
</h1>
<script>
function rooms() {
	window.location.href = 'RoomSchedule.html';
}
function childInfo() {
	window.location.href = 'Children.html';
}
function childSched() {
	window.location.href = 'sChildren.html';
}
function employees() {
	window.location.href = 'Employees.html';
}
function employeeSched() {
	window.location.href = 'sEmployee.html';
}
function day() {
	window.location.href = 'Waiting_list.html';
}
</script>
</body>

</html>
