<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>


   <!--<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">-->
<link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/foundation.css">
<link rel="stylesheet" href="./Other Files/foundation-6.3.0-complete/css/app.css"i>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script> <script src="./angular/angular-1.5.8/angular-1.5.8/angular-sanitize.js"></script>
<script src="./app.js"></script>




<style type ="text/css" >
   .footer{ 
	position: fixed;     
	text-align: center;    
	bottom: 0px; 
	width: 100%;
	 } 
</style>



</head>


<body background="sky.jpg" class = "backgroundPic">

	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
	   <button class="menu-icon" type="button" data-toggle></button>
	 <div class="title-bar-title">Main Menu</div>
	 </div>



	<div class="top-bar" id="main-menu">
	<div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	<li class="menu-text"><img src="./Images/Stock/PotsdamLogoSmall.jpg" class="Logo"><h2>SUNY Potsdam Child Care Center, Inc. Home</h2></li>
	</div>
	</ul>
	<div class="top-bar-right">
		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		 <li class="has-submenu">
		 <a>Main Menu</a>
		<ul class="submenu menu vertical" data-submenu>
		<li><a href="Home.html">Home</a>
		 <li><a href="Waiting_list.html">Waiting List</a></li>
		<li><a href="RoomScheduleDev.html">Classrooms</a></li>
		<li><a href="Children.html">Enrolled List</a></li>
		<li><a href="Employees.html">Employee List</a></li>
		<li><a href="EmployeeSchedWTabs.html">Employee Scheduler</a></li>
		</ul>
	 </li>
	</ul>
	</div>
 </div>

 <br>



 <div class="row small-up-3 data-equalizer">

	<div class="column data-equalizer-watch">
			 <a href="Waiting_list.html" class="button large expanded">Waiting List</a>
		</div>
	 <div class="column data-equalizer-watch">
		  <a href="RoomScheduleDev.html" class="button large expanded">Classroom Schedules</a>
		</div>
		
	<div class="column data-equalizer-watch">
		<a href="EmployeeSchedWTabs.html" class="button large expanded">Employee Scheduler</a>
		</div>
	</div>
	
	<div class="row large-up-2 data-equalizer">
		<div class="column data-equalizer-watch">
			<a href="Children.html" class="button large expanded">Enrollment Database</a>
		</div>
	<div class="column data-equalizer-watch">
		<a href="Employees.html" class="button large expanded">Employee Database</a>	
		</div>
	</div>

</h1>

	<!--Note to future programmers: we don't know why this is supposed to be at the bottom
	of the file, but please if you use foundation CSS for the title bar, put this block at the
	bottom of your files right next to the ending body tag-->
	<script src="./Other Files/foundation-6.3.0-complete/js/vendor/jquery.js"></script>
	<script src="./Other Files/foundation-6.3.0-complete/js/vendor/what-input.js"></script>
	<script src="./Other Files/foundation-6.3.0-complete/js/vendor/foundation.js"></script>
	<script src="./Other Files/foundation-6.3.0-complete/js/app.js"></script>
</body>

<footer>
	<div class ="footer"> 
		<audio id="sound1" src="./Other Files/Laugh And Applause-SoundBible.com-1359854750.wav" preload="auto"></audio>


		<a href="userDocuments.html">User Documentation </a> <br>
		<button onclick="document.getElementById('sound1').play()">Copyright 2017</button>
	</div>

</footer>
</html>
