<!DOCTYPE html>
<html>
<head>
<title>Waiting List</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/ProfileController.js"></script>
<!--<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">-->
</head>
<body ng-app="DaycareApp" ng-controller="ProfileController" ng-init="LoadTempProfile()">
<table style="width: 100%; height: 5%" bgcolor="yellow">
<tr><td align="center" bgcolor="black"><h1><font color="white">
{{Profile[0].data.ChildName}}
</font></h1></td>
<td align="center" bgcolor="white"><h3><font color="black">
{{Profile[0].data.ChildBirthdate}}
</font></h3></td></tr></table>
<p>
<table style="width: 100%; height: 10%" bgcolor="0000ff">
<tr><td align="center" bgcolor="ff8800"><h4></h4></td>    
<td align="center" bgcolor="ff8800"><h4>Parent's Name</h4></td>
<td align="center" bgcolor="ff8800"><h4>Parent's Potsdam Status</h4></td>
<td align="center" bgcolor="ff8800"><h4>Parent's email</h4></td>
<td align="center" bgcolor="ff8800"><h4>Parent's phone number</h4></td>
</tr>
    <tr><td align="center" bgcolor="white"><h4>Parent 1</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianName1}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianStatus1}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianEmail1}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianPhone1}}</h4></td>
    </tr>
    <tr><td align="center" bgcolor="white"><h4>Parent 2</h4></td>    
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianName2}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianStatus2}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianEmail2}}</h4></td>
    <td align="center" bgcolor="white"><h4>{{Profile[0].data.GaurdianPhone2}}</h4></td>
    </tr>
</table></p>

</body>
</html>