<DOCTYPE! html>
<html>
<head>
<title>Rooms</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/RoomsController.js"></script>


<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/modal.css">
<link rel="stylesheet" type="text/css" href="./Other Files/(CSS Stuff) font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body background="sky.jpg" class = "backgroundPic" ng-app="DaycareApp" ng-controller="RoomsController" ng-init="myFunc('InfantRoom')">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Home.html">Home</a>
    <a href="RoomScheduleDev.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
    <a href="sChildren.html">Schedule Classrooms</a>
    <a href="sEmployee.html">Schedule Employees</a>
    <a href="Waiting_list.html">Waiting List</a>
  </div>
</div></h5>


<h1>Classrooms</h1>

    <label>Selected Classroom: <select ng-init="selectedName = names[0]" ng-model="selectedName" ng-change="myFunc(selectedName)" ng-options="item for item in names"></select></label>
<div>
    <label>Search: <input placeholder="What are you looking for?" ng-model="searchText"></label>
</div>


<table class = "ClassroomTable">
	<tr>
        <th>D.O.B.</th>
        <th>Name</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Affiliation</th>
        <th>Notes</th>
    </tr>

<tr ng-repeat="child in ClassroomList | orderBy:sortType:sortReverse | filter:searchText">
    <th>{{child.ChildBirthdate}}</th>
	<th>{{child.ChildName}}</th>
    <th>{{child.MondayString}}</th>
    <th>{{child.TuesdayString}}</th>
    <th>{{child.WednesdayString}}</th>
    <th>{{child.ThursdayString}}</th>
    <th>{{child.FridayString}}</th>
    <th>{{child.Affiliation}}</th>
    <th><button ng-click="OpenModal()">View Notes</button></th>
</tr>
</table>




        <!-- The Modal -->
        <div id="myModal" class="modal" ng-show="ShowModal">

        <!-- Modal content -->
        <div id="modalContent" class="modal-content" style="width: 400px; height: 250px">
        <div class="close" ng-click="CloseModal()">×</div>
            Notes:
        	<div id="textarea" class="textarea" contenteditable="true"></div>

        <div style="text-align: center; padding-top: 30px;">
                <button ng-click="EditClassroomInfo(Profile[0])">Save Changes</button>
                <button ng-click="CloseModal()">Cancel</button>
        </div>
        </div>
        </div>





</body>
</html>
