<!DOCTYPE html>
<html>
<body bgcolor="00ff00">

<center><h1><font color="ff0000">Room search</font></h1></center>
<div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
        <a href="sChildren.html">Schedule Classrooms</a>
        <a href="sEmployee.html">Schedule Employees</a>
        <a href="Waiting_list.html">Waiting List</a>
  </div>

</body>
</html> 
