<DOCTYPE! html>
<html>
<head>
<title>Waiting List</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/WaitingListController.js"></script>


<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
<link rel="stylesheet" type="text/css" href="./Other Files/(CSS Stuff) font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body background="sky.jpg" ng-app="DaycareApp" ng-controller="WaitingListController" ng-init="LoadWaitingList()">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Home.html">Home</a>
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
    <a href="sChildren.html">Schedule Classrooms</a>
    <a href="sEmployee.html">Schedule Employees</a>
    <a href="Waiting_list.html">Waiting List</a>
  </div>
</div></h5>


<h1>Room Occupency</h1>

<div>
    <label>Search: <input placeholder="What are you looking for?" ng-model="searchText"></label>
</div>
<button type="button" ng-click="RefreshDatabase()">Refresh Database</button> 
<div id="display"></div>

<table class = "TFtable">
	<!--<tr>
	<th>D.O.B.</th>
	<th>Slot</th>
	<th>Monday</th>
	<th>Tuesday</th>
	<th>Wednesday</th>
	<th>Thursday</th>
	<th>Friday</th>
	<th>Affileation</th>
	<th>Notes</th>
        
<!--</tr>-->


<tr ng-repeat="child in Room | orderBy:sortType:sortReverse | filter:searchText">
    <th>{{child.ChildBirthdate}}</th>
	<th>{{child.ChildName}}</th>
    <th>{{child.number}}</th>
    <th>{{child.monHours}}</th>
    <th>{{child.tuHours}}</th>
    <th>{{child.wHours}}</th>
    <th>{{child.thHours}}</th>
    <th>{{child.fHours}}</th>
    <th>{{child.affileation}}</th>
    <th>{{child.notes}}</th>
<!--make sure all button code is between the <th> and </th> tags-->
</tr>

<tr ng-if="Children.length === 0">
    <th style="height: 48px"></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>    
    <th style="background: #dae5f4"></th>
    <th style="background: #dae5f4"></th>
</tr>

</table>

<p id="accepted"></p>

</body>
</html>
