<DOCKTYPE! html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
</head>

<body bgcolor="76ff00">

<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
        <a href="sChildren.html">Schedule Classrooms</a>
        <a href="sEmployee.html">Schedule Employees</a>
        <a href="Waiting_list.html">Waiting List</a>

  </div>
</div></h5>

<h1>Master Child Schedule</h1>


What to search for: <input type="text" id="myText" value="Search Here">

<button onclick="myFunction()">Check it</button>

<p id="demo"></p>

