<DOCKTYPE! html>
<html>
<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<div ng-app="app" ng-controller="myCtrl">
	<p>First Name: <input type="text" name="firstName" ng-model="firstName" required /></p>
	<p>Lirst Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
	<button ng-click="SendData()">Submit</button>
	<hr />
        {{ PostDataResponse }}
    </div>
    <script>
        var app = angular.module("app",[]);
        app.controller("myCtrl", function($scope,$http){
        $scope.SendData = function() {
            var data = {
                    fName : $scope.firstName,lName : $scope.lastName
                }
            $http.post('/postFormAngular', data)
                .success(function (data, status, headers, config) {
                    $scope.PostDataResponse = data;
                })
                .error(function(data, status, header, config){
                    $scope.PostDataResponse = "Data: " + status;
                });
        };  
        });
    </script>
</head>

<body bgcolor="ff84c1">
<h1>Master Employee Schedule</h1>
<h5><div class="dropdown" style="float:right;">
  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
        <a href="sChildren.html">Schedule Classrooms</a>
        <a href="sEmployee.html">Schedule Employees</a>
        <a href="Waiting_list.html">Waiting List</a>

  </div>
</div></h5>

What to search for: <input type="text" id="myText" value="Search Here">

<button onclick="myFunction()">Check it</button>

<p id="demo"></p>

