<DOCTYPE! html>
<html>
<head>
<title>temp</title>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
</head>

<body>
<table class = "TFtable">
        <tr>
        <th></th>
<th>Moneday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
	</tr>

	<tr>
	<th> 7:00 </th>
	<th></th>
        <th></th>
        <th></th>
        <th></th>
	<th></th>
	</tr>

<tr>
        <th> 7:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 7:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 7:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>	
<tr>
        <th> 8:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 8:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 8:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 8:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 9:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 9:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 9:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 9:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 10:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 10:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 10:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 10:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 11:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 11:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 11:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 11:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 12:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 12:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 12:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 12:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 1:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 1:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 1:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 1:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 2:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 2:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 2:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 2:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 3:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 3:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 3:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 3:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 4:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 4:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 4:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 4:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 5:00 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 5:15 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
<tr>
        <th> 5:30 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

<tr>
        <th> 5:45 </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

</table>
</body>
