<html>

	<!-- text entry modal -->
        <div id="textModal" class="modal" ng-show="ShowModal">
		<style type ="text/css">
			textarea {
			    height: 490px;
			    width: 490px;
			}

			#textarea {
			    -moz-appearance: textfield-multiline;
			    -webkit-appearance: textarea;
			    border: 1px solid gray;
			    font: medium -moz-fixed;
			    font: -webkit-small-control;
			    height: 28px;
			    overflow: auto;
			    padding: 2px;
			    resize: both;
			    width: 400px;
			}
		</style>

        <!-- Modal content -->

        <div id="modalContent" class="modal-content" style="width 500: px; height: 500px">
        <span class="close" ng-click="CloseModal()">×</span>
        <div style="text-align: center;"> Notes:

	<div id="textarea" contenteditable>Enter notes here</div>
	
</div>
</html>
