<!DOCTYPE html>
<html>
<head>
	<title>User Documentation</title>
</head>
<body>


	
	<h1>SUNY Potsdam Childcare inc. Classroom manager</h1>

	<h2>I General use / purposes</h2>
	<p>
The purpose of the daycare manager is to marange both children and staff of the SUNY Potsdam daycare center.
	</p>
	<h2>II Starting the server</h2><p>
The server is started by running the start script “start-dev.bat”. This should be set up to start when the host machine boots. Please be patient, as the server may take several minutes to boot. 
It is therefore recommended that the host computer be kept on as long as possible.
	</p><h2>III Accessing the program</h2><p>
To access the client, start up an internet browser and enter “localhost:3000”. This will bring you to the homepage.
	</p><h2>IV  Usage</h2><p>
When this program starts, you will be brought to the home page. From here, you will be able to navigate to any of the commonly used menus by clicking on the  blue buttons. Also, there is a quick navigation menu which is accessed by the drop-down labeled menu on a page’s top bar.
	</p><h3>Waiting List</h3><p>
This program receives applications to the daycare from a Google survey that feeds data into a google sheet. This program manually downloads this data when one presses the “Refresh Page” button; located on the upper left of the page, directly under the header bar. This will pull the data into the waiting list and generate a profile based on the data entered in the survey. 
The columns can be sorted by clicking on the column headers, which will cause an arrow to appear, indicating that this is the column that the data is being sorted by. You can click on the column again to reverse the sorting order( E.G. from A-Z to Z-A).
This process will also automatically generate a profile, that can be  viewed by pressing the “View Profile” button or clicking on the student’s name. A more detailed distinction of this page is below.
To accept a student into the program, click on  the accept button. The program will prompt you to put the student into a class at this time. This selection can be changed at any time from the profile page. The student will be moved from this list, and put into the Enrollment Database.

	</p><h3>Enrollment Database</h3><p>
Here you can view and manage all the currently enrolled students. Both visually and conceptually this page is similar to the Waiting List page. If you wish to find a specific student, you can search by of the attributes that are noted on that page. For example If you want to find a child with the name “John Smith” you would type the name into the search bar. Or if you wish to find all the students in the Infant Room, type that into the search bar.



</p>
</body>
</html>
