<DOCTYPE! html>
<html>
<head>
<title>Waiting List</title>
<script type="text/javascript"></script>
<script src="./angular/angular-1.5.8/angular-1.5.8/angular.min.js"></script>
<script src="./app.js"></script>
<script src="./Source/Client/Controllers/WaitingListController.js"></script>


<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">
</head>
<body ng-app="DaycareApp" ng-controller="WaitingListController" ng-init="LoadWaitingList()">

<h1>Waiting List Testing</h1>

<h5><div class="dropdown" style="float:right;">

  <button class="dropbtn">||||</button>
  <div class="dropdown-content">
    <a href="Rooms.html">Rooms</a>
    <a href="Employees.html">Employees</a>
    <a href="Children.html">Children</a>
	<a href="sChildren.html">Schedule Classrooms</a>
	<a href="sEmployee.html">Schedule Employees</a>
	<a href="Waiting_list.html">Waiting List</a>
  </div>

</div></h5>

<button type="button" ng-click="RefreshDatabase()">Refresh Database</button> 
<div id="display"></div>

<table class = "TFtable">
	<tr>
	<th>Child's Name</th>
	<th>D.O.B.</th>
	<th>Phone Number</th>
	<th>Primany Parent Name</th>
	<th>Primanry Parent Status</th>
	<th>Secondary Parent Name</th>
	<th>Secondary Parent Status</th>
	<th>Date of App.</th>
	<th>Desired Start Date</th>
	<th>Class</th>
	<th>Days</th>
	<th>View Profile</th>
	<th>Accept</th>
        
</tr>
<tr ng-repeat="child in Children">
    <th>{{child.ChildName}}</th>
    <th>{{child.ChildBirthdate}}</th>
    <th>{{child.HomePhone}}</th>
    <th>{{child.GaurdianName1}}</th>
    <th>{{child.GaurdianStatus1}}</th>
    <th>{{child.GaurdianName2}}</th>
    <th>{{child.GaurdianStatus2}}</th>
    <th>{{child.TimeStamp}}</th>
    <th>{{child.DesiredEnrollment}}</th>
    <th>{{child.Class}}</th>
    <th>{{child.RequiredDays}}</th>
<!--make sure all button code is between the <th> and </th> tags-->
    <th><button type="button" onclick="profile()"> Profile</button></th>
    <th><button type="button" onclick="accept()">Accept</button> </th>
</tr>

</table>

<p id="accepted"></p>

<script>

function accept(){
	confirm("You clicked accept! \nNothing has happened.\n Thank you.");
}

function profile(){
	window.location.href = 'DemoPage.html';
}

</script>


</body>
</html>
