/*<link rel="stylesheet" type="text/css" href="./Source/Client/Styles/main.css">*/
/*Use this link tag in the head section of files to test what I have instructed below*/

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
	transform: rotate(90deg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 16px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ffff00}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #888888;
}

/* //////////////////////////
///   For Waiting list 
////////////////////////////*/

.TFtable {
	width:100%;
	border: 1px solid black;
	background-color: black;
/*	border-collapse: collapse; */
	padding: 5px;
}
/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}

/*Put all of our style classes into this file and then go to a page (like waiting list) and test out
whether you can reference the classes here from those files. I suggest you try to reference the 
class of the dropdown button so it changes from the default css to what we have specified in our dropdown class.*/